.fileupload {
    margin-left: -15px;
}

.add-collection-item {
    margin: 0 0 10px 0;
}

.login {
    margin-top: 10%;
}

body {
    background-image: url("../img/back.png");
    padding-bottom: 20px;
}

.main-container {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    padding: 0 20px;
    min-height: 600px;
}

.ui-datepicker-trigger {
    display: none;
}

#organization .dl-horizontal {
    margin-left: 30px;
}