.accordion-inner {
    padding: 9px 0px 9px 0px;
}

.accordion-inner [class*="span"] {
    /*margin-left: 5px;*/
}

/*[class*="span"] {*/
/*margin-left: 15px;*/
/*}*/

/*@media (min-width: 768px) and (max-width: 979px) {*/
/*[class*="span"] {*/
/*margin-left: 15px;*/
/*}*/
/*}*/

/*@media (min-width: 1200px) {*/
/*[class*="span"] {*/
/*margin-left: 25px;*/
/*}*/
/*}*/
/*@media (max-width: 767px) {*/
/*[class*="span"] {*/
/*margin-left: 0;*/
/*}*/
/*}*/

body {
    background-image: url("../img/back.png");
    padding-bottom: 20px;
}
.main-container {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    padding: 0 20px;
    min-height: 600px;
}