{% extends 'MeraPostBundle:PostOffice:post.html.twig' %}
{% block post %}
    <h1>Добавить почтовое отделение</h1>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="{{ path('postoffice') }}"><i class="icon-th-list"></i> К
                списку</a>
        </div>
    </div>
    <form action="{{ path('postoffice_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Создать</button>
        </p>
    </form>

{% endblock %}