{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="post">
        {% block post %}{% endblock %}
    </div>
{% endblock %}