{% extends 'MeraAuditBundle:Audit:form/collapseItem.html.twig' %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        <div class="collection" {{ block('widget_container_attributes') }}>
            <div class="collection-error">
                {{ form_errors(form) }}
            </div>
            <div class="collection-rows">
                {% for child in form %}
                    {{ form_row(child) }}
                {% endfor %}
            </div>
            <button class="btn btn-primary add-collection-item"><i class="icon-plus-sign icon-white"></i> Добавить
            </button>
        </div>
    {% endspaceless %}
{% endblock collection_widget %}
