<div class="accordion-group" style="margin-left:-2px;">
    <div class="accordion-heading">
        <a href="#{% block collapseId %}{% endblock %}" data-toggle="collapse" class="accordion-toggle">
            {% block collapseTitle %}{% endblock %}
        </a>
    </div>
    <div class="accordion-body collapse in" id="{{ block('collapseId') }}">
        <div class="accordion-inner" style="padding: 9px 0;">
            <div class="span12">

                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-small up"><i class="icon-arrow-up"></i> Вверх</button>
                        <button class="btn btn-small prev"><i class="icon-chevron-up"></i> Назад</button>
                        <button class="btn btn-small next"><i class="icon-chevron-down"></i> Дальше</button>
                    </div>
                </div>
            </div><div class="span12">
                {% block collapseBody %}{% endblock %}
            </div>

        </div>
    </div>
</div>
