<div class="accordion-group">
    <div class="accordion-heading">
        <a href="#{% block collapseId %}{% endblock %}" data-toggle="collapse" class="accordion-toggle">
            {% block collapseTitle %}{% endblock %}
        </a>
    </div>
    <div class="accordion-body collapse in" id="{{ block('collapseId') }}">
        <div class="accordion-inner">
            {% block collapseBody %}{% endblock %}
        </div>
    </div>
</div>