<div class="accordion-group">
    <div class="accordion-heading">
        <a href="#{% block collapseId %}{% endblock %}" data-toggle="collapse" class="accordion-toggle">
            {% block collapseTitle %}{% endblock %}
        </a>
    </div>
    <div class="accordion-body collapse in" id="{{ block('collapseId') }}">
        <div class="accordion-inner">
            <div class="row">
                <div class="span11 accordion-buttons">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-small up"><i class="icon-arrow-up"></i> Вверх</button>
                            <button class="btn btn-small prev"><i class="icon-chevron-up"></i> Назад</button>
                            <button class="btn btn-small next"><i class="icon-chevron-down"></i> Дальше</button>
                        </div>
                    </div>
                </div>
                <div class="span12">
                    {% block collapseBody %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
