{% extends 'MeraAuditBundle:Audit:form/collapseItem.html.twig' %}
{% block collapseBody %}
<form enctype="multipart/form-data" method="POST" action="server/php/" id="fileupload" class="">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="span7">
            <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn fileinput-button">
                    <i class="icon-plus"></i>
                    <span>Добавить Файлы...</span>
                    <input type="file" multiple="" name="files[]">
                </span>
            <button class="btn start" type="submit">
                <i class="icon-upload"></i>
                <span>Загрузить</span>
            </button>
            <button class="btn cancel" type="reset">
                <i class="icon-ban-circle"></i>
                <span>Отменить</span>
            </button>
            <button class="btn delete" type="button">
                <i class="icon-trash"></i>
                <span>Удалить</span>
            </button>
            <input type="checkbox" class="toggle">
        </div>
        <!-- The global progress information -->
        <div class="span5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress progress-success progress-striped active" aria-valuenow="0">
                <div style="width:0%;" class="bar"></div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The loading indicator is shown during file processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped" role="presentation">
        <tbody data-target="#modal-gallery" data-toggle="modal-gallery" class="files"></tbody>
    </table>
</form>
{% endblock %}