{% extends 'MeraAuditBundle:Audit:form/collection.html.twig' %}
{% block collapseTitle %}
    Технические характеристики зданий
{% endblock %}
{% block collapseId %}buildings{% endblock %}


{% form_theme form _self %}
{% block form_row %}
    {% spaceless %}
        <div class="span3">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{% block collapseBody %}
    <blockquote>
        <p class="lead">Для каждого здания</p>
    </blockquote>
    {{ form_widget(form.Buildings) }}
{% endblock %}
