{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
    Предоставить тарифы на потребляемые энергетические ресурсы
{% endblock %}
{% block collapseId %}consumdetariff{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.ConsumedTariffs) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="row">
        {{ form_row(fields.year,{"attr":{"exclass":"span1", "class":"input-mini" }}) }}
        {{ form_row(fields.tariff,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.ResourceType,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    </div>
{% endblock collection_row_inner %}
