{% extends 'MeraAuditBundle:Audit:form/collection.html.twig' %}
{% block collapseTitle %}
    Предоставить тарифы на потребляемые энергетические ресурсы
{% endblock %}
{% block collapseId %}consumdetariff{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.ConsumedTariffs) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="span3">
        {{ form_row(fields.year) }}
    </div>
    <div class="span3">
        {{ form_row(fields.tariff) }}
    </div>
    <div class="span3">
    </div>
    <div class="span3">
        {{ form_row(fields.ResourceType) }}
    </div>
{% endblock collection_row_inner %}
