{% extends 'MeraAuditBundle:Audit:form/fields.html.twig' %}
{% block collapseTitle %}
    Годовой объем средств, выделяемый на содержание организации
{% endblock %}
{% block collapseId %}fundsvolume{% endblock %}
{% form_theme form _self %}
{% block collapseBody %}
    <blockquote>
        <p class="lead">Какой-то текст</p>
    </blockquote>
    {{ form_widget(form.FundsVolumes) }}
{% endblock %}

{% block collection_row_inner %}
    <div class="row">
        {{ form_row(fields.year,{"attr":{"exclass":"span1", "class":"input-mini" }}) }}
        {{ form_row(fields.budget,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
        {{ form_row(fields.non_budget,{"attr":{"exclass":"span3", "class":"input-large" }}) }}
    </div>
{% endblock collection_row_inner %}
