{% extends 'MeraManageBundle::layout.html.twig' %}
{% block body %}

    <h2>Почтовые отделения</h2>


    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="{{ path('user_new') }}"><i class="icon-plus"></i> Добавить</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Email</th>
            <th>Создан</th>
            <th>Изменен</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.email }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}